@media only screen and (max-width: 768px) {
    nav {
        padding: 0.4rem 0rem;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
    }

    .nav-list.open {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .nav-list li {
        width: 100%;
    }

    .subnav-list {
        width: 80%;
    }

    .has-submenu .subnav-list {
        position: static;
        display: none;
    }

    .has-submenu.open .subnav-list {
        display: block;
        position: static;
    }

    /* header */
    .header {
        height: 70vh;
    }

    .header-content {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .header-content h1 {
        line-height: 2.8rem;
        font-size: 2.4rem;
    }

    .header-content p {
        width: 100%;
        font-size: 1.2rem;
    }

    .header-btn-cont {
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        gap: 1rem;
    }

    /* About Us */
    .about-container {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
    }

    .about-content {
        width: 100%;
    }

    .about-title h1 {
        font-size: 2.5rem;
    }

    /* Services */
    .services-title p {
        width: 100%;
        text-align: center;
    }

    .services-card-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .services-card {
        width: 100%;
    }


    /* founder Page */
    .founder-container {
        flex-direction: column-reverse;
    }

    .founder-img {
        width: 100%;
    }

    .founder-content {
        width: 100%;
    }

    .founder-title h1 {
        font-size: 2.5rem;
    }

    .founder_about-briefing {
        flex-direction: column;
    }

    .founder_about-content {
        width: 100%;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
    }

    .footer-addresses {
        width: 100%;
    }

    .footer-navlist {
        width: 100%;
    }

    .footer-form {
        width: 100%;
    }

    .footer-form-cont {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-form input {
        width: 100%;
    }

    .footer-socials {
        flex-wrap: wrap;
        justify-content: center;
    }
}